{{#if flashSuccess}}
  <div class="container mt-5">
    <div class="alert alert-info">
      {{flashSuccess}}
    </div>
  </div>
{{/if}}

{{#if flashError}}
  <div class="container mt-5">
    <div class="alert alert-danger">
      {{flashError}}
    </div>
  </div>
{{/if}}

{{#if passportSuccess}}
  <div class="container mt-5">
    <div class="alert alert-info">
      {{passportSuccess}}
    </div>
  </div>
{{/if}}

{{#if passportFailure}}
  <div class="container mt-5">
    <div class="alert alert-danger">
      {{passportFailure}}
    </div>
  </div>
{{/if}}